<h2>Employee details</h2>
<% @employee.each do |emp| %>
	<h1><%= emp.name %></h1>
	<h6>Designation:<%= emp.designation %></h6>
	<%= link_to "show" ,emp,{:class => 'btn btn-lg btn-primary'} %>
	<hr>
<% end %>