<h2>Add Employees</h2>
<hr>
<%= form_for @employee do |f| -%>

	<%  if @employee.errors.any? %>
		<% @employee.errors.full_messages.each do |msg|  %>
		<div class="alert alert-danger"><%= msg %></div>
		<% end %>
		<% end %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>	
	</p>
	<p>
		<%= f.label :age %>
		<%= f.text_field :age %>	
	</p>
	<p>
		<%= f.label :designation %>
		<%= f.text_field :designation %>	
	</p>
	<p>
		<%= f.label :gender %>
		<%= f.text_field :gender %> 
	</p>
	<p>
	<%= f.submit({:class => 'btn  btn-primary'}) %>
	</p>
<% end %>