<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeApp</title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">My Employee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <%= link_to "Home", home_path,{:class => 'nav-link'} %>
          </li>
          <li class="nav-item active">
            <%= link_to "Create Employees", new_employee_path,{:class => 'nav-link'} %>
          </li>
         
        </ul>
       
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <%= yield %>
      </div>
    </main>


  </body>
</html>
